.renderer {
  overflow-y: scroll;
  border: 1px solid black;
  will-change: transform;
}

.correction {
  padding: 14px 20px;
}

.highlights {
  position: relative;
}

::selection {
  background: transparent;
}

@keyframes flash {
  0%   { opacity: 0.01; }
  100% { opacity: 0.3; }
}

.highlight-part {
  will-change: left, top, opacity;
  position: absolute;
  z-index: 1;

  user-select: none;
  pointer-events: none;

  background-color: green;

  animation: flash 0.4s ease-out;
  animation-fill-mode: forwards;
}
