.correction {
  padding: 15px 30px;
}

.highlights {
  position: relative;
}

::selection {
  background: transparent;
}

@keyframes flash {
  0%   { opacity: 0.2; }
  100% { opacity: 0.8; }
}

.highlight-part {
  background-color: green;
  animation: flash 0.5s infinite;
}
